title: "{{ title }}"
date: {{ publishedDate }}
updated: {{ updatedDate }}
{{#categories.length}}
  tags: 
  {{#categories}}
  - "{{.}}"
  {{/categories}}
{{/categories.length}}
permalink: "{{ id }}"
comments: true
---

{{{ content }}}
